<!DOCTYPE html>
<html>
<head>
    <title>Staff Payroll</title>
</head>
<body>
    <h2>Staff Payroll</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Payroll</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staffs %}
            <tr>
                <td>{{ staff.name }}</td>
                <td>{{ staff.payroll }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
